@import '../../../node_modules/antd/dist/antd.css';

.App {
  text-align: center;
  height: 100vh;
}

.Sider {
  height: 100vh;
  background: white;
  overflow: auto;
}
.Sider::-webkit-scrollbar {
  display: none;
}

.Content {
  height: 100vh;
  overflow: auto;
}
